button{
    float: right;
    background-color: rgb(229, 235, 229);
    font-size: 40px;
    margin-left:80px;
    color: rgb(250, 245, 245);
    background-color: rgb(43, 255, 0);
    padding: 30px;
}
h1{
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    color: rgb(250, 246, 246);
    font-size: 80px;
    border-style:solid;
    border-color: rgb(245, 238, 238);
}
.imgMain{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
}
p{
    text-align: right;
    font-size: 40px;
    color: aliceblue;
    margin-top: 80px;
    margin-left: 50px;
    padding: 30px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

